<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="gw2dir" value="C:\Program Files\Guild Wars 2\bin64\" />
    <add key="install_buildtemplates" value="1" />
    <add key="install_extras" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>